In [1]:
from IPython.display import IFrame  
CIALink_EduExpenditures="https://www.cia.gov/the-world-factbook/field/education-expenditures/country-comparison" 
IFrame(CIALink_EduExpenditures, width=700, height=300)

In [2]:
import pandas as pd

In [3]:
CIAdata_EduExpenditures=pd.read_html(CIALink_EduExpenditures,header=0,flavor='bs4',attrs={'class': 'content-table'})

In [4]:
type(CIAdata_EduExpenditures)

list

In [5]:
len(CIAdata_EduExpenditures)

1

In [6]:
CIAdata_EduExpenditures[0]

     Rank                            Country  % of GDP  Date of Information
0       1                               Cuba      12.8                 2010
1       2    Micronesia, Federated States of      12.5                 2015
2       3                    Solomon Islands       9.9                 2010
3       4                         Montserrat       8.8                 2019
4       5                             Norway       7.9                 2017
..    ...                                ...       ...                  ...
165   166  Congo, Democratic Republic of the       1.5                 2017
166   167                             Monaco       1.5                 2017
167   168                        South Sudan       1.5                 2016
168   169                         Bangladesh       1.3                 2019
169   170           Central African Republic       1.2                 2011

[170 rows x 4 columns]

In [7]:
CIATable_EduExpenditures=pd.read_html(CIALink_EduExpenditures, # link
                        #header=0, # where is the header?
                        flavor='bs4', # helper to translate html
                        attrs={'class': 'content-table'}) # attributes to identify element(s)

In [8]:
DF=CIATable_EduExpenditures[0]

In [9]:
DFTest=DF.copy() # recreating DFTest

In [10]:
DFTest2=DFTest.copy()

In [11]:
DFTest2

     Rank                            Country  % of GDP  Date of Information
0       1                               Cuba      12.8                 2010
1       2    Micronesia, Federated States of      12.5                 2015
2       3                    Solomon Islands       9.9                 2010
3       4                         Montserrat       8.8                 2019
4       5                             Norway       7.9                 2017
..    ...                                ...       ...                  ...
165   166  Congo, Democratic Republic of the       1.5                 2017
166   167                             Monaco       1.5                 2017
167   168                        South Sudan       1.5                 2016
168   169                         Bangladesh       1.3                 2019
169   170           Central African Republic       1.2                 2011

[170 rows x 4 columns]

In [12]:
DFTest2.drop(['Rank', 'Date of Information'],1,inplace=True)

In [13]:
DFTest2

                               Country  % of GDP
0                                 Cuba      12.8
1      Micronesia, Federated States of      12.5
2                      Solomon Islands       9.9
3                           Montserrat       8.8
4                               Norway       7.9
..                                 ...       ...
165  Congo, Democratic Republic of the       1.5
166                             Monaco       1.5
167                        South Sudan       1.5
168                         Bangladesh       1.3
169           Central African Republic       1.2

[170 rows x 2 columns]

In [14]:
some=['country', 'pct_GDP_exp']

In [15]:
dict(zip(DFTest2.columns, some))

{'Country': 'country', '% of GDP': 'pct_GDP_exp'}

In [20]:
 DFTest2.rename(columns=dict(zip(DFTest2.columns, some)),inplace=True)

In [21]:
DFTest2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      170 non-null    object
 1   pct_GDP_exp  170 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

In [22]:
DFTest2["country"]=DFTest.country.str.strip()

AttributeError: 'DataFrame' object has no attribute 'country'

In [23]:
DFTest2

                               country  pct_GDP_exp
0                                 Cuba         12.8
1      Micronesia, Federated States of         12.5
2                      Solomon Islands          9.9
3                           Montserrat          8.8
4                               Norway          7.9
..                                 ...          ...
165  Congo, Democratic Republic of the          1.5
166                             Monaco          1.5
167                        South Sudan          1.5
168                         Bangladesh          1.3
169           Central African Republic          1.2

[170 rows x 2 columns]

In [24]:
DFTest2.to_csv("HannaData.csv",index=False)